#pg-new-food-form {
    margin: 0 auto;
    background-color: $white;
    border: 1px solid $greyBorder;
    // border-top: 1px solid $accent;

    .header,
    .content,
    .footer {
       padding: 0.85em 1.25em;
    }

    .content {
      padding-top: 1.5em;
    }

    label {
      display: block;
      margin-bottom: 0.25em;
    }

    .field {
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
}
