@mixin font($newFont: $font-size, $newLine: $line) {
    font-size: #{$newFont / $em}em;
    line-height: $newLine / $newFont * 1em;
}

@mixin sans() {
	@include antialias;
	font-family: 'Open Sans', serif;
}

@mixin serif {
	font-family: 'Lusitana', serif;
}

@mixin antialias($boolean: true) {
	@if ($boolean == true) {
		-webkit-font-smoothing: antialiased;
	} @else {
		-webkit-font-smoothing: normal;
	}
}
