#g-capital {
	padding: 0.75em 0;
	@include group;
	background-color: $white;
	border-bottom: 1px solid #dddddd;

	.nav {
		float: right;

		li {
			@include inline-block(middle);
			margin-left: 0.75em;
		}
	}
}


#g-header {
	@include group;
	padding: 1.5em 0;

	.logo {
		@include sp(site, logo);
	}
}
