$space: 10px;

#g-capital {
  position: relative;
  @include group;
  background-color: $white;
  border-bottom: 1px solid #dddddd;

  .logo {
    @include sp(site, logo);
    @include sp-center(site, logo, y);
    margin-left: $space;
  }

  .nav {
    float: right;

    li {
        @include inline-block(middle);
    }

    a {
      border-left: 1px solid $greyE; 
        padding: 1em 0.75em;
    }
  }
}

#g-user-toggle {
  
}

#g-user-dropdown {
  
}
