$space: 10px;

#g-capital {
  position: relative;
  @include group;
  background-color: $white;
  border-bottom: 1px solid $greyBorder;
  border-top: 1px solid $accent;

  .logo {
    @include sp(site, logo);
    @include sp-center(site, logo, y);
    margin-left: $space;
  }

  $padding-x: 12px;

  .nav {
    float: right;

    li {
        @include inline-block(middle);
        margin-right: -3px;
    }

    a {
      border-left: 1px solid $greyE; 
      padding: 15px $padding-x;
      @include transition(background-color, 0.1);

      &:hover {
        background-color: $greyF;
      }
    }

    .toggle {
      padding-right: $padding-x + 16px;

      &:after {
        content: '';
        @include sp(icon, dropdown-arr);
        @include sp-center(icon, dropdown-arr, y);
        right: 10px;;
      }
    }

    .dropdown {
      background-color: $white;
      border: 1px solid $greyBorder;
      border-bottom: 0;
      min-width: 100px - $padding-x*2;
      right: 0;

      li {
        display: block;
      }

      a {
        border: 0;
        border-bottom: 1px solid $greyBorder;
      }
    }
  }
}
