body {
	@include font;
	@include serif;
	color: #333;
  @include antialias;
}

#g-capital {
	@include font(12, 12);
  text-align: center;

    a {
      color: #333;
    }
}

.pg-title {
  @include font(18, 18);
  font-weight: 400;
}

#pg-new-food-form {
  label {
    @include font(14, 14);
  }

  .header {
    text-transform: uppercase;
  }

  .footer {
    text-align: center;
  }
}

@mixin ui-input {
  @include serif;
  @include font(15, 15);
}

.ui-input {
  @include ui-input;
  @include antialias;
}

.ui-tags {
  input {
    @include ui-input;
  }

  .tagit-choice {
    color: $white;
    font-weight: 200;
  }
}

.ui-submit {
  @include ui-input;
  color: $white;
}

.ui-state-focus {
  // color: $white;
}
