body {
	@include font;
	@include sans;
	color: #222;
  @include antialias;
}


.pg-title {
  @include font(18, 18);
  font-weight: 700;
}

#pg-new-food-form {
  label {
    @include font(14, 14);
  }

  .header {
    text-transform: uppercase;
  }

  .footer {
    text-align: center;
  }
}

@mixin ui-input {
  @include serif;
  @include font(15, 15);
}

.ui-input {
  @include ui-input;
  @include antialias;
}

.ui-tags {
  input {
    @include ui-input;
  }

  .tagit-choice {
    color: $white;
    font-weight: 200;
  }
}

.ui-submit {
  @include ui-input;
  color: $white;
}

.ui-uploader-filename {
  @include font(13, 13);
}

