.ui-base {
  @include round(3);
}

.ui-inner-shadow {
  @include inner-shadow(1, 1, 3, rgba($black, 0.075));
}

.ui-box-shadow {
  @include box-shadow(1, 1, 3, rgba($black, 0.15));
}

.ui-input-wrapper {
  @extend .ui-base;
  @extend .ui-inner-shadow;
  border: 1px solid $greyBorder;
  padding: 0.5em 1em;
  background-color: $greyInput;
}

.ui-input {
  border: 0;
  width: 100%;
  background-color: transparent;
}

.ui-submit {
  @extend .ui-base;
  background-color: $accent;
  border: 0;
  padding: 0.75em 2em;
  margin: 0;
  cursor: pointer;
  @include transition(opacity);

  &:hover {
    opacity: 0.8;
  }
}

.ui-tags-wrapper {
  position: relative;
}

.ui-tags {
  @include group;
  @extend .ui-input-wrapper;
  padding: 0.5em;
  position: relative;
  cursor: text;
  overflow: visible;

  input {
    border: 0;
    background: transparent;
  }

  .tagit-choice {
    background-color: $accent;
    float: left;
    padding: 0.25em 0.5em;
    padding-right: 1.75em;
    @include round(3);
    margin-right: 0.25em;
  }

  .tagit-label {
    @include inline-block;

  }

  .tagit-close {
    @include sp(icon, tag-x);
    @include sp-center(icon, tag-x, y);
    right: 10px;
    margin-left: 5px;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

ul.ui-autocomplete {
  @include box-sizing(border-box);
  @extend .ui-inner-shadow;
  background-color: $greyInput;
  position: absolute;
  width: 100%;

  li {
    border: 1px solid $greyBorder;
    border-bottom: 1px solid $greyBorderLight;
    border-top: 0;
  }

  a {
    padding: 0.25em 0.5em;
  }
}

.ui-state-focus {
  background-color: rgba($accent, 0.1);
}

.ui-uploader-input {
  cursor: pointer;
}

.ui-uploader {
  @extend .ui-base;
  @extend .ui-box-shadow;
  border: 1px solid $greyBorder;
  cursor: pointer;
}

.ui-uploader-button {
  @include sp(icon, file_upload-arr);
  @include sp-center(icon, file_upload-arr, y);
  right: 10px;
}
